# R and RStudio
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# System files
.DS_Store
Thumbs.db

# Editors/IDEs
.vscode/
.idea/

# Python/reticulate
.env/
.venv/
.pytest_cache/
__pycache__/
.ipynb_checkpoints/

# Build/test artifacts
..Rcheck/
html/
Meta/
inst/doc/
coverage/

# Misc
*.tar.gz
*.zip
*.egg-info/ 